body{
    background-color: white
  }

/* link styles */
a:hover {
    color: lightblue;
}

.nav {
    background: transparent;
    background-color: white;
}
.nav-link {
    color: black;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
}

.jumbotron {
    font-family: 'Bitter', serif;
    background-color: white;
}

#contact
span {
    text-transform: uppercase;
    background-color: black;
    color: white;
    opacity: 80%;
    padding: 0 10px 0 10px;
}

.lead {
    margin-bottom: 5px;
    color: lightblue;
}

.lead
span {
    background-color: black;
    opacity: 80%;
    padding: 0 20px 0 20px;
    color: lightblue;
}

.col-12 {
    font-family: 'Bitter', serif;
}
.col-12 
span {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content:center;
    font-family: 'Bitter', serif;
    font-size: 12px;
}