body{
    background-image: url("new-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
  }

/* link styles */
a:hover {
    color: lightblue;
}

.nav-link {
    color: black;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
}

.jumbotron {
    background: none;
    font-family: 'Bitter', serif;
    margin-left:-10px;
    margin-top:-10px;
    height:100%;
    min-width:100%;
    position:absolute; 
}

#about-me
span {
    text-transform: uppercase;
    background-color: black;
    color: white;
    opacity: 80%;
    padding: 0 10px 0 10px;
}

.lead {
    margin-bottom: 5px;
    color: lightblue;
}

.lead

span {
    background-color: black;
    opacity: 80%;
    padding: 0 10px 0 10px;
}