body{
    background-color: white
  }

/* link styles */
a:hover {
    color: lightblue;
}

.nav {
    background: transparent;
    background-color: white;
}
.nav-link {
    color: black;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
}

.jumbotron {
    font-family: 'Bitter', serif;
    background-color: white;
}

.jumbotron-portfolio {
    margin: 120px;
}

#contact
span {
    text-transform: uppercase;
    background-color: black;
    color: white;
    opacity: 80%;
    padding: 0 10px 0 10px;
}

.lead {
    margin-bottom: 5px;
    color: lightblue;
}

.lead
span {
    background-color: black;
    opacity: 80%;
    padding: 0 20px 0 20px;
    color: lightblue;
}

.col-sm-6 {
    margin-bottom: 20px;
}


.navbar {
    display: flex;
    justify-content:center;
    font-family: 'Bitter', serif;
    padding: 0;
}

.social-icons {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 15px;
    margin-top: 10px;

}

#copyright {
    text-align: center;
    font-size: 10px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: -2px;
    
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }