
body {
    margin: auto;
    padding: auto;
}
.nav {
    background-color: #68696B;
}

.nav-link {
    color: white;
}

.container {
    background-color: pink;
    border: 4px black solid;
    margin-top: 50px;
}

#about-me {
    font-size: 30px;
    font-weight: bold;
}