body{
    margin: auto;
    padding: auto;
  }

.nav {
    background-color:yellow;
}

.nav-link {
    color: black;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
}

.col-12 {
    font-size: 50px;
    font-family: 'Bitter', serif;
    background-color:purple;
} 

.col-6 {
    background-color: pink;
}
.col-12-inside {
    background-color: palegreen;
}
#selfie {
    width: 298px; 
    height: 262;
}

font-family: 'Source Sans Pro', sans-serif;