body{
    background-color: #cccccc;
  }

/* link styles */
a:hover {
    color: lightblue;
}

.nav {
    background: transparent;
    background-image: url("new-background.jpg");
}
.nav-link {
    color: black;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
}

.jumbotron {
    font-family: 'Bitter', serif;
    background-image: url("new-background.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #cccccc;
}

#about-me
span {
    text-transform: uppercase;
    background-color: black;
    color: white;
    opacity: 80%;
    padding: 0 10px 0 10px;
}

.lead {
    margin-bottom: 5px;
    color: lightblue;
}

span {
    background-color: black;
    opacity: 80%;
    padding: 0 10px 0 10px;
}

.col-4{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border: black solid 1px;
    border-radius: 80%;
}