/* body style */
body{
    background-color: white;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both; 
}

/* link styles */
a:hover {
    color: #F9F4F1;
}

/* nav styles */
.nav-link {
    color: black;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
}

.nav {
    background: transparent;
    background-color: white;
}

/* contact section styles */
.contact-title {
    font-family: 'Bitter', serif;
    text-align: left;
}

/* contact section jumbotron style */
.jumbotron-form {
    font-family: 'Bitter', serif;
    background-color: #F9F4F1;
    margin: 50px 100px 0px 100px;
    padding: 20px;
    border: solid black 2px;
}

#contact {
    margin-top: 50px;
}

.contact-info{
    color: grey;
    margin-bottom: 0;
}

.form-control {
    border: solid black 1px;
}

/* button style */
.btn {
    display: flex;
    justify-content: center;
    border: hidden;
    cursor: pointer;
    outline: none;
}

/* footer style */
.navbar {
    display: flex;
    justify-content:center;
    font-family: 'Bitter', serif;
    padding: 0;
}

/* social media icons footer */
.social-icons {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 15px;
    margin-top: 10px;
}

/* copyright footer */
#copyright {
    text-align: center;
    font-size: 10px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: -2px; 
}