/* body style */
body{
    background-color: white;
    margin-top: 15px;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both; 
}

/* link styles */
a:hover {
    color: lightgrey;
}

a.two:link {
    color: grey;
    text-decoration: none;
}
a.two:visited {
    color: grey;
}
a.two:hover {
    color: grey;
}

/* nav styles */
.nav-link {
    color: black;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    font-size: 15px;
}

.nav {
    background: transparent;
    background-color: white;
}

/* jumbotron style */
.row {
    background-color: white;
}

#container-one {
    width: 100%;
}
.jumbotron {
    font-family: 'Bitter', serif;
    background-color: white;
    padding: 0;
}

/* portfolio section styles */
.portfolio-title {
    background-color: white;
    margin-top: 50px;  
    font-family: 'Bitter', serif;
    text-align: left; 
}

.portfolio-info {
    color: grey;
    margin-bottom: 0;
}

.portfolio-row {
    margin-top: 50px;
}

/* image styles */
.placeholders {
    width: 100%;
    border: solid black 2px;
    margin: 0px;
}
/* footer style */
.navbar {
    display: flex;
    justify-content:center;
    font-family: 'Bitter', serif;
    padding: 0;
}

/* social media icons footer */
.social-icons {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 15px;
    margin-top: 10px;
}

/* copyright footer */
#copyright {
    text-align: center;
    font-size: 10px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: -2px; 
}

img.stretchy {
    width: 100%; /*Tells image to fit to width of parent container*/
} 
.container {
    width: 63%; /*Use this to control width of the parent container, hence the image*/
    background-color: #F9F4F1;
}

/* contact section jumbotron style */
.jumbotron-portfolio {
    font-family: 'Bitter', serif;
    background-color: #F9F4F1;
    margin: 50px 100px 100px 100px;
    padding: 20px;
    border: solid black 2px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

/* .carousel-text {
    margin-top: 40px;
    font-family: 'Bitter', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
} */
.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    color: black;
}

.carousel-indicators li {
     visibility: hidden; 
}

#button-row {
    background-color: #F9F4F1;
}

.btn-space{
    margin: 2px;
}

#tech {
    width: 50px;
    height: 50px;
}

.tech-space {
    margin-right: 5px;
}