/* body style */
body{
    background-color: white;
    margin-top: 15px;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    
}

/* link styles */
a:hover {
    color: #494f5f;
}

/* nav styles */
.nav-link {
    color: black;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    font-size: 18px;
}

.nav {
    background: transparent;
    background-color: white;
}

/* about section styles */
.about {
    margin-top: 40px;
    font-family: 'Bitter', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.small {
    color: grey;
    font-family: 'Bitter', serif;
    font-size: 14px;
    margin-bottom: 0px;

}

#text-box {
    font-family: 'Bitter', serif; 
    margin-top: 20px;
}

.text-width {
    width: 90%;
}

#hi {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
}

#name {
    font-weight: bold;
}

#text-top {
    margin-top: 20px;
}

#text-bottom {
    margin-bottom: 40px;
}

#about-info {
    color: #EFF2F7;
}

/* image style */
#photo {
    width: 270px;
    height: 180px;
    border: solid 2px black; 
    margin-bottom: 40px;
}

/* footer style */
.navbar {
    display: flex;
    justify-content:center;
    font-family: 'Bitter', serif;
    padding: 0;
}

/* social media icons footer */
.social-icons {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 15px;
    margin-top: 10px;
}

/* copyright footer */
#copyright {
    text-align: center;
    font-size: 10px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: -2px; 
}