/* body style */

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header {
    background-color: #4E5772;
}
/* link styles */
a:hover {
    color: #F8DFAE;
}

/* nav styles */
.nav-link {
    color: black;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    
}

.nav {
    background: transparent;
    
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

#page1 {
    background-color: #4E5772;
}

#page2 {
    background-color: ;
}
/* about section styles */
#section1 {
    margin: 115px 0 300px 0; 
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    white-space: nowrap;
    min-height: 100%;
}

.shrink img {
    transition: 1s ease;
}
    
.shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

section {
    position: relative;
    text-align: center;
    color: white;
}

.about {
    margin-top: 40px;
    font-family: 'Bitter', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.small {
    color: grey;
    font-family: 'Bitter', serif;
    font-size: 14px;
    margin-bottom: 0px;

}

#text-box {
    font-family: 'Bitter', serif; 
    margin-top: 20px;
}

.text-width {
    width: 90%;
}

#name-font {
    font-family: 'Rubik', sans-serif;
    font-size: 5vw;
    /* color: #FED2AF; */
    color: #F8DFAE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.arrows {
    width: 25%;
    height: auto;
    margin-left: 0px;
}
#hi {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
}

#name {
    font-weight: bold;
}

#text-top {
    margin-top: 20px;
}

#text-bottom {
    margin-bottom: 40px;
}

#about-info {
    color: #EFF2F7;
}

/* image style */
#photo {
    width: 270px;
    height: 180px;
    border: solid 2px black; 
    margin-bottom: 40px;
}

/* footer style */
.navbar {
    display: flex;
    justify-content:flex-end;
    font-family: 'Bitter', serif;
    padding: 0;
    background: transparent;

}

/* social media icons footer */
.social-icons {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 8px;
    margin-top: 10px;
}

/* copyright footer */
#copyright {
    text-align: center;
    font-size: 10px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: -2px; 
}

@media only screen and (max-width: 320px) {

    body { 
       font-size: 2em; 
    }
 
 }

 #parent-div
 {
   position:relative;
   height:2000px;
   width:300px;
   background-color:tan;
 }
 
 #child-div
 {
   color:white;
   position:relative;
   top:1000px;
   width:300px;
   display:none;
   text-align:center;
 }

 .col-sm-4 {
     background-color: white;

    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

 }

 
 .row-cards {
    justify-content: center;
 }

 .portfolio-image-bkgrnd {
    border-radius: 5%;
    vertical-align: middle;
    border-style: none;
    border: black solid 35px;
}
<div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

