/* Scroll bar style */
::-webkit-scrollbar
{
    width: 0;  
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}

/* body style */
body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both; 
}

.header {
    background-color: black;
}
/* link styles */
a:hover {
    color: lightgrey;
}

/* nav styles */
.nav-link {
    color: black;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    font-size: 15px;
}

.nav {
    background: transparent;
    background-color: white;
}

.page1 {
    background-color: white;
}

/* about section styles */
#section1 {
    margin: 280px 0 480px 0; 
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.about {
    margin-top: 40px;
    font-family: 'Bitter', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.small {
    color: grey;
    font-family: 'Bitter', serif;
    font-size: 14px;
    margin-bottom: 0px;

}

#text-box {
    font-family: 'Bitter', serif; 
    margin-top: 20px;
}

.text-width {
    width: 90%;
}

#big-hi {
    font-family: 'Inconsolata', monospace;
    fill: #e5e5e5;
	stroke: #f06;
    stroke-width: 1.85;
    font-size: 210px;
}

#cursive-name {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 35px;
    color: black;
}

#hi {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
}

#name {
    font-weight: bold;
}

#text-top {
    margin-top: 20px;
}

#text-bottom {
    margin-bottom: 40px;
}

#about-info {
    color: #EFF2F7;
}

/* image style */
#photo {
    width: 270px;
    height: 180px;
    border: solid 2px black; 
    margin-bottom: 40px;
}

/* footer style */
.navbar {
    display: flex;
    justify-content:center;
    font-family: 'Bitter', serif;
    padding: 0;
}

/* social media icons footer */
.social-icons {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 15px;
    margin-top: 10px;
}

/* copyright footer */
#copyright {
    text-align: center;
    font-size: 10px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: -2px; 
}